body {
    background-color: rgb(244,231,227);
    font-family: 'Bad Script', cursive;
}
img{
    width: 100%;
    height: 255px;
    margin-bottom: 25px;
    border: 2px black solid;
}
.head-container{
    background-color: rgb(168,156,138);
    color: rgb(25,90,85);
    height:180px;
    font-size: 28px;
    border: 3px black solid;
    text-align: center;
    font-display: bold;
    width: 100%;
}